/*---------------------------------------/*
 # SETTINGS
/*---------------------------------------*/

/*---------------------------------------/*
 # GENERIC
/*---------------------------------------*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/*---------------------------------------/*
 # ELEMENTS
/*---------------------------------------*/

/*---------------------------------------/*
 # OBJECTS
/*---------------------------------------*/

/*---------------------------------------/*
 # COMPONENTS
/*---------------------------------------*/
.c-nutriscores {
  display: flex;
  flex-direction: column;
  max-width: 20rem;
  
 
  &__score {
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 240/130;
    background-size: cover;

    &--highest {
      background-image: url(../images/nsa.svg);
    }
    &--high {
      background-image: url(../images/nsb.svg);
    }
    &--middle {
      background-image: url(../images/nsc.svg);
    }
    &--low {
      background-image: url(../images/nsd.svg);
    }
    &--lowest {
      background-image: url(../images/nse.svg);
    }
  }
}
.u-omrand {
  border: thin solid #333;
  padding: 2rem;
}

/*---------------------------------------/*
 # UTILITIES
/*---------------------------------------*/
