/*---------------------------------------/*
 # SETTINGS
/*---------------------------------------*/

/*---------------------------------------/*
 # GENERIC
/*---------------------------------------*/

/*---------------------------------------/*
 # ELEMENTS
/*---------------------------------------*/
body,
input {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 1.4rem;
}

/*---------------------------------------/*
 # OBJECTS
/*---------------------------------------*/

/*---------------------------------------/*
 # COMPONENTS
/*---------------------------------------*/
.c-form {
  width: 50%;

  &__group {
    margin-bottom: 0.75em;
  }

  &__label {
    color: #000;
    width: 15rem;
    display: inline-block;
  }

  &__txt {
    height: 1.4rem;
    border: 1px solid grey;
    &:invalid {
      background-color: rgba(255, 0, 0, 0.2);
    }

    &:valid {
      background-color: rgba(0, 255, 0, 0.2);
    }
  }
}

/*---------------------------------------/*
 # UTILITIES
/*---------------------------------------*/
