/*---------------------------------------/*
 # SETTINGS
/*---------------------------------------*/
$howest-blue: #44c8f5;
$howest-pink: #ec008c;
$howest-yellow: #ffed00;

/*---------------------------------------/*
 # GENERIC
/*---------------------------------------*/
body {
  background: $howest-blue;
}

/*---------------------------------------/*
 # ELEMENTS
/*---------------------------------------*/

/*---------------------------------------/*
 # OBJECTS
/*---------------------------------------*/

/*---------------------------------------/*
 # COMPONENTS
/*---------------------------------------*/
.c-number {
  font-family: 'Hachi Maru Pop', sans-serif;
  color: $howest-pink;

  &--10 {
    font-size: 10rem;
  }
  &--9 {
    font-size: 9rem;
  }
  &--8 {
    font-size: 8rem;
  }
  &--7 {
    font-size: 7rem;
  }
  &--6 {
    font-size: 6rem;
  }
  &--5 {
    font-size: 5rem;
  }
  &--4 {
    font-size: 4rem;
  }
  &--3 {
    font-size: 3rem;
  }
  &--2 {
    font-size: 2rem;
  }
  &--1 {
    font-size: 1rem;
  }
  &--even {
    color: $howest-yellow;
  }
}

/*---------------------------------------/*
 # UTILITIES
/*---------------------------------------*/
