/*---------------------------------------/*
 # SETTINGS
/*---------------------------------------*/
/*---------------------------------------/*
 # GENERIC
/*---------------------------------------*/
body {
  background: #44c8f5;
}

/*---------------------------------------/*
 # ELEMENTS
/*---------------------------------------*/
/*---------------------------------------/*
 # OBJECTS
/*---------------------------------------*/
/*---------------------------------------/*
 # COMPONENTS
/*---------------------------------------*/
.c-number {
  font-family: "Hachi Maru Pop", sans-serif;
  color: #ec008c;
}
.c-number--10 {
  font-size: 10rem;
}
.c-number--9 {
  font-size: 9rem;
}
.c-number--8 {
  font-size: 8rem;
}
.c-number--7 {
  font-size: 7rem;
}
.c-number--6 {
  font-size: 6rem;
}
.c-number--5 {
  font-size: 5rem;
}
.c-number--4 {
  font-size: 4rem;
}
.c-number--3 {
  font-size: 3rem;
}
.c-number--2 {
  font-size: 2rem;
}
.c-number--1 {
  font-size: 1rem;
}
.c-number--even {
  color: #ffed00;
}

/*---------------------------------------/*
 # UTILITIES
/*---------------------------------------*/