/*---------------------------------------/*
 # SETTINGS
/*---------------------------------------*/
@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Open+Sans:wght@300&display=swap");
/*---------------------------------------/*
 # GENERIC - BOOTSTRAP
/*---------------------------------------*/
html,
body {
  font-family: "Open Sans", sans-serif;
  min-height: 100%;
  background-color: #44c8f5;
}

h1 {
  font-family: Lobster, fantasy;
}

/*---------------------------------------/*
 # ELEMENTS
/*---------------------------------------*/
/*---------------------------------------/*
 # OBJECTS
/*---------------------------------------*/
/*---------------------------------------/*
 # COMPONENTS
/*---------------------------------------*/
/*---------------------------------------/*
 # UTILITIES
/*---------------------------------------*/