/*---------------------------------------/*
 # SETTINGS
/*---------------------------------------*/

/*---------------------------------------/*
 # GENERIC
/*---------------------------------------*/

/*---------------------------------------/*
 # ELEMENTS
/*---------------------------------------*/

body,
input {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 1.4rem;
}

/*---------------------------------------/*
 # OBJECTS
/*---------------------------------------*/

/*---------------------------------------/*
 # COMPONENTS
/*---------------------------------------*/
.c-form {
  width: 50%;

  &__group {
    margin-bottom: 2em;
  }
  &__chkgroup {
    display: flex;
    align-items: center;
  }
  &__chk {
    transform: scale(1.4);
    margin-right: 1rem;
  }
}
/*---------------------------------------/*
 # UTILITIES
/*---------------------------------------*/
